@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#content {
    padding-left: 85px;
    padding-right: 10px;
    justify-content: center;
    min-height: 100vh;

    background-color: #112;
    color: #aaa;
}


body div p {
    font-size: larger;
}

#welcome {
    height: 250vh;
    width: 100%;
    z-index: -1;
    overflow: clip;
}


#welcome svg {
    position: sticky;
    top: 50%;
    left: 50%;
    margin: 0 auto;

    font: 40px "Comic Sans MS";
    fill: white;

    display: inline-block;
    transition: font-size 0.5s ease-in-out;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

@keyframes rotate {
    from {
        transform: translateX(-50%) translateY(-120%) rotate(0deg) scale(1);
    }
    to {
        transform: translateX(50%) translateY(-120%) rotate(0deg) scale(200);
    }
}

/* start fader */
@keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: black;
    pointer-events: none;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}
/* end fader */